* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: $grey;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .main-container {
    display: flex;
    flex: 1 1 auto;
  }
}

.app {
  height: 100%;
}
