// COLORS
$dark-grey: #181818;
$grey: #222;
$lighten-grey: #363636;
$green-yellow: #99c432;
$white: #f2f2f2;

// FONTS
$Gotham: Gotham SSm A,Gotham SSm B,sans-serif;

//MEASUREMENTS
$header_height: 70px;
$footer_height: 100px;