// COLORS
$dark-grey: #181818;
$grey: #222;
$lighten-grey: #363636;
$dark-grey: #757575;
$blue: #1488cc;
$light-blue: #afc7d4;
$white: #f2f2f2;
$coral: #d46868;

// FONTS
$Gotham: Gotham SSm A,Gotham SSm B,sans-serif;

//MEASUREMENTS
$header_height: 70px;
$footer_height: 100px;
