.modal-content {
  background: $grey;
  color: $green-yellow;

  .form-input {
    background: transparent;
    border: 1px solid $green-yellow;
    border-radius: 3px;
    color: $white;
    outline: none;
    padding: 5px 10px;
    width: 100%;
  }

  .form-group {
    padding: 0 20px;
  }

  .control-btn + .control-btn {
    margin-left: 10px;
  }

  .submit {
    border: 1px solid $green-yellow;
    border-radius: 3px;
    padding: 5px 10px;
  }
}

.modal-header, .modal-footer {
  border: none;
}
