.modal-content {
  background: $grey;
  color: $blue;

  .base-input {
    border: 1px solid $blue;
    border-radius: 3px;
    color: $white;
    outline: none;
    padding: 5px 10px;
    width: 100%;
  }

  .control-btn {
    &--submit {
      border: 1px solid $blue;
      border-radius: 3px;
      padding: 5px 10px;
    }

    &:disabled {
      border-color: $dark-grey;
    }
  }
}

.modal-header, .modal-footer {
  border: none;
}
