.add-list-form {
  flex-basis: $list_col_width;
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  &__toggler {
    color: $blue;
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid $light-blue;
    border-radius: 3px;
  }
}