.add-task-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  &__toggler {
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid $blue;
    border-bottom: none;
    font-weight: bold;
    color: $blue;
  }
}
