.add-task-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  &__toggler {
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid $blue;
    border-bottom: none;
    font-weight: bold;
    flex-grow: 1;
    color: $dark-grey;
  }
}

.add-task-panel {
  border: 1px solid $blue;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: column;

  &__field {
    width: auto;
    border-radius: 3px;
    border: 1px solid $blue;
    padding: 5px;
    color: $white;

    & + & {
      margin-top: 10px;
    }
  }

  &__footer {
    margin-top: 20px;
  }

  &__submit-btn {
    padding: 5px 15px;
    background: $blue;
    color: $lighten-grey;
    font-weight: bold;
    border-radius: 3px;

    &:disabled {
      color: inherit;
    }
  }
}
