.board-page {
  display: flex;
  flex-grow: 1;
  padding: 20px;

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__header {
    align-items: center;
    display: flex;
    padding: 10px 0;
    flex: none;
  }

  &__board-title {
    color: $blue;
    font-weight: bold;
    margin-right: 20px;
  }

  &__tasks {
    background: $lighten-grey;
    border-radius: 3px;
    display: flex;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
