.header {
  @include border-shadow;
  align-items: center;
  background-color: $grey;
  display: flex;
  height: $header_height;
  justify-content: space-between;
  padding: 15px 30px;
  flex: none;

  &__logo-section {
    align-items: center;
    display: flex;
  }

  .title {
    color: $blue;
    font-family: $Gotham;
    font-size: 26px;
    font-weight: normal;
  }

  .add-board-btn {
    color: $blue;
    cursor: pointer;
  }
}
