.header-wrapper {
  @include border-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header_height;
  padding: 15px 30px;
  background-color: $grey;

  .title {
    font-weight: normal;
    font-size: 26px;
    font-family: $Gotham;
    color: $green-yellow;
  }

  .add-board-btn {
    color: $green-yellow;
    cursor: pointer;
  }
}

.heading-section {
  display: flex;
  align-items: center;
}
