.manage-page {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.boards-section {
  background: $lighten-grey;
  border-radius: 3px;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
}

