.manage-page {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.boards-section {
  background: $white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
}

.board {
  &__title {
    color: $lighten-grey;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
